.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .blog-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  .blog-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .blog-item h3 span {
    font-size: 16px;
    color: #666;
  }
  
  .blog-item:hover {
    background-color: #868181;
  }
  
  .blog-item:hover h3 {
    color: #222;
  }
  
  /* Optional: Add styles for the button */
  /* .read-more {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  } */
  